.header {
    height: 42px;
    border-bottom: 1px solid var(--db-color-border);
    padding: 0 15px;
}

.content {
    padding: 10px 15px;
}

.actionbox {
    column-gap: 8px;
}

.input {
    border: 1px solid var(--db-color-border);
    border-radius: 6px;
    padding: 2px 8px 5px;
    width: 340px !important;
}