.cover {
    height: 100%;
    width: 100%;
}

.dflex {
    display: flex;
}

.directionColumn {
    flex-direction: column;
}

.alignCenter {
    align-items: center;
}

.flexible {
    flex-grow: 1;
    min-width: 0;
    min-height: 0;
}